@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

.booking-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-box{
    width: 80%;
    height: 80vh;
    background-color: #230342;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.details-box{
    width: 90%;
    height: 95%;
    /* background-color: blueviolet; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13px;
}

.route-details{
    display: flex;
    flex-direction: row;
    color: #8a789a;
}

.city, .distance{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.city p{
    margin-top: 5px;
    background-color: #391d57;
    width: 200px;
    height: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    color: white;
}

.distance p{
    margin-top: 5px;
    width: 200px;
    height: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    color: white;
}

.time, .status{
    color: white;
}

.status{
    margin-left: 20px;
    padding-left: 10px;
}

.schedule{

}

.schedule-link{
    color: white;
    text-decoration: none;
    background-color: white;
    color: #391d57;
    padding: 2px 10px;
    border-radius: 10px;
}

.schedule-link:hover{
    background-color: #8a789a;
    color: white;
}

.bookh1{
    margin-top: 50px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.booknowspace{
    display: flex;
    flex-direction: column;
}

.userform{
    display: flex;
    flex-direction: row;
}

.userform div{
    width: 360px;
}

.userform div select{
    margin: 10px 20px;
    width: 350px;
    height: 40px;
}

.bookbtn{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    color: #8a789a;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.bookbtn:hover{
    color: white;
    background-color: #8a789a;

}

/* .note{
    font-weight: 100;
    color: red;
} */

/* Tooltip*/
.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;

  }
  
  .userform div:hover .tooltiptext {
    visibility: visible;
  }

