@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.schedule-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    font-family: 'Cabin', sans-serif;
    align-items: center;
}

.schedule-section h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    background: rgb(35,3,66);
    background: radial-gradient(circle, rgba(35,3,66,1) 0%, rgba(252,70,107,0) 90%);
    color: white;
    height: fit-content;
    width: 100%;
    margin-top: 50px;
}

.schedule-details{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.table-div{
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
    height: 80vh;
    /* margin-left: 80px; */
    /* margin-right: 80px; */
    background-color: #2303423b;
    border-radius: 20px;
    margin: 0px 20px;
    overflow-y: scroll;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.table embed{
    width: 95%;
    height: 75vh;
    
}

.train-details{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 50%;
    height: 80vh;
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 20px;
}

.train-buttons-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.train-buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.train-buttons button{
    margin: 10px 20px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.city-buttons{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    background-color: rgba(128, 128, 128, 0.541);
    height: 9%;
    width: 100%;
    border-bottom: 2px solid grey;
    border-radius: 20px 20px 0px 0px;
}

.city-buttons button{
    /* margin: 10px 200px; */
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px 20px;
}